* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(44, 44, 44);
    width: 100%;
}

header {
    display: flex;
    padding-top: 25px;
    margin-bottom: -25px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    border-style: none;
    font-size: 1.3em;
    filter: drop-shadow(1px 15px 5px rgba(22, 22, 22, 0.3));
}

button {
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #007bff;
    color: white;
    border-style: none;
    font-size: 1.3em;
    padding-bottom: 3px;
}

h4 {
    text-align: center;
    color: white;
    margin-top: 50px;
    margin-bottom: 20px;
}

.previousSearch {
    display: flex;
    width: 1660px;
    height: auto;
    min-height: 70px;
    background-color: rgb(63, 63, 63);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    color: white;
    justify-content: center;
    font-size: 1.3em;
    align-items: center;
    flex-wrap: wrap;
    filter: drop-shadow(1px 15px 5px rgba(22, 22, 22, 0.3));
}

.searchButton {
    filter: drop-shadow(1px 15px 5px rgba(22, 22, 22, 0.3));
}

.previousSearch p {
    margin-left: 30px;
}

.previousBtn {
    margin: 5px;
    font-size: 1em;     
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    min-height: 50px;
}

.currentForecast {
    display: flex;
    flex-direction: column;
    width: 1660px;
    height: auto;
    min-height: 400px;
    background-color: rgb(63, 63, 63);
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    border-radius: 5px;
    width: 90%;
    color: white;
    justify-content: center;
    text-align: center;
    font-size: 1.3em;
    padding: 10px;
    filter: drop-shadow(1px 15px 5px rgba(22, 22, 22, 0.3));
}

#icon {
    min-width: 200px;
    margin-right: auto;
    margin-left: auto;
}

#uv {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fiveDayForecast {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    width: 92%;
    margin-top: -17px;
}

.fiveDay {
    display: flex;
    flex-direction: column;
    background-color: rgb(63, 63, 63);
    flex: 1;
    min-height: 400px;
    margin: 20px;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 1.3em;
    justify-content: center;
    padding: 10px;
    filter: drop-shadow(1px 15px 5px rgba(22, 22, 22, 0.3));
}